*{
    margin: 0;
    padding: 0;
}
.nav-bar {
    margin-top: 10px;
    list-style: none;
    background-color:darkseagreen;
}
.lis-nav-bar {
    display: inline-block;
    padding-left: 10px;
}
.lis-nav-bar a {
    color: white;
    text-decoration: none;
}
.lis-nav-bar a:hover {
    color: darkcyan;
}
.lis-nav-bar a:active {
    color:darkslategrey ;
}
.list-nav-bar a::after {
    content: "|";
}